<div class="container mx-auto w-screen h-screen max-h-screen max-w-screen">
  <header
    class="hv-05 flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10"
  >
    <div class="flex justify-start lg:w-0 lg:flex-1 mx-7">
      <a href="#">
        <span class="sr-only">Workflow</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-auto sm:h-10"
          fill="none"
          viewBox="0 0 24 24"
          stroke="#4f46e5"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"
          />
        </svg>
      </a>
    </div>
    <div class="md:flex items-center justify-end md:flex-1 lg:w-0 mx-7">
      <a
        href="#"
        class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"
      >
        Sign in
      </a>
    </div>
  </header>
  <div
    class="hv-95 w-full max-h-screen bg-orange-50 grid grid-cols-3 gap-5 p-5"
  >
    <div class="h-full w-full max-h-full">
      <div class="hv-1 bg-white flex justify-center items-center">
        <span>TODO</span>
      </div>
      <ul
        class="hv-9 max-h-full overflow-scroll scroll-auto mt-5"
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[inProgressList, doneList]"
        (cdkDropListDropped)="drop($event)"
      >
        <li
          class="h-28 bg-gray-50 rounded-lg shadow-md m-3 p-4 first:mt-0 break-words overflow-scroll list-none"
          *ngFor="let item of todo"
          cdkDrag
        >
          {{ item }}
        </li>
        <li
          class="h-28 bg-gray-50 rounded-lg shadow-md m-3 p-4 first:mt-0 break-words overflow-scroll list-none"
        >
          <textarea
            class="h-full w-full resize-none bg-gray-50 outline-none"
            [(ngModel)]="todoTextarea"
            (keyup.enter)="onEnter()"
          ></textarea>
        </li>
      </ul>
    </div>

    <div class="h-full w-full max-h-full">
      <div class="hv-1 bg-white flex justify-center items-center">
        <span>IN PROGRESS</span>
      </div>
      <ul
        class="hv-9 max-h-full overflow-scroll scroll-auto mt-5"
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
      >
        <li
          class="h-28 bg-gray-50 rounded-lg shadow-md m-3 p-4 first:mt-0 break-words overflow-scroll list-none"
          *ngFor="let item of inProgress"
          cdkDrag
        >
          {{ item }}
        </li>
      </ul>
    </div>

    <div class="h-full w-full max-h-full">
      <div class="hv-1 bg-white flex justify-center items-center">
        <span>DONE</span>
      </div>
      <ul
        class="hv-9 max-h-full overflow-scroll scroll-auto mt-5"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
      >
        <li
          class="h-28 bg-gray-50 rounded-lg shadow-md m-3 p-4 first:mt-0 break-words overflow-scroll list-none"
          *ngFor="let item of done"
          cdkDrag
        >
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</div>
